# Build files
public/*.js*
public/app.js
# public/*.png TODO: copy-webpack-plugin or other means of referencing sprite image
public/*.svg

# Dependency directory
node_modules/

# Certs
*.pem
ssl/

# Logs
*.log

# In Case iOS makes these extra files, ignore them
*.DS_Store
