.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20px;
}

.sidebar {
  transform: translate(-100%, 0);
  width: 20vw;
  height: 100vh;
  background-color: black;
  color: rgba(220,220,220,.9);
  border-right: 3px solid rgba(20,20,20,.9);
  opacity: .8;
  padding: 10px;
}

.sidebar-title {
  font-weight: bold;
  overflow: hidden;
}

.slide-in {
  transform: translate(0, 0);
  animation: slide-in .5s;
}
@keyframes slide-in {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.slide-out {
  animation: slide-out .5s;
}
@keyframes slide-out {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}

.tab {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  color: rgba(220, 220, 220, .9);
  background-color: black;
  padding: 50px 5px;
  border: 3px solid rgba(20, 20, 20, .9);
  border-left: none;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  outline: none;
}

.tab:hover {
  border-color: rgba(60, 60, 60, .9);
  color: white;
}

.tab-fade-in {
  animation: tab-fade-in .3s;
}
@keyframes tab-fade-in {
  from {
    opacity: 0;
    transform: translate(-20%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

.tab-fade-out {
  opacity: 0;
  animation: tab-fade-out .3s;
}
@keyframes tab-fade-out {
  from {
    opacity: 1;
    transform: translate(0, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-20%, -50%);
  }
}

.config-title {
  margin: 5px 0;
  font-weight: bold;
  padding: 10px 0;
  color: rgba(220, 220, 220,.9);
  background: rgba(40, 40, 40, .9);
  border: none;
  border-bottom: 5px solid rgba(20, 20, 20, .9);
  outline: none;
  cursor: pointer;
}

.config-title:active, .config-title:focus {
  outline: none;
  color: white;
  background: rgba(80, 80, 80, .9);
}

.config-content {
  height: auto;
}

.slider {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
  position: relative;
}

.ui-slider-range {
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  transform: translate(-20px, 0);
  background-position: 0 0;
  border-radius: 0px 0 0 0px;
}

.ui-slider-handle {
  transform: translate(-50%, 0);
  padding: 0;
  position: relative;
  width: 3em;
  height: 1.6em;
  text-align: center;
  line-height: 1.6em;
  z-index: 10;
}
