.category-container {
  margin: 0 1rem;
}

.category-title {
  margin: 1rem 0 0 0;
  font-weight: bold;
  padding: 10px;
  color: rgba(220, 220, 220,.9);
  background: rgba(40, 40, 40, .9);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: .5rem .5rem 0 0;
}

.category-title:active,
.category-title:focus,
.category-title:hover {
  outline: none;
  color: white;
  background: #555;
  border: none !important;
}

.category-content {
  padding: .5rem;
  background: rgba(220, 220, 220, .9);
  border-radius: 0 0 .5rem .5rem;
  overflow: hidden;
}

.hide-content {
  height: 0;
  background: #555;
}
