body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(14, 21, 31, 1);
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

a:hover {
  color: rgba(255,255,255,1) !important;
}

.hidden {
  opacity: 0;
}


.text-white {
  color: #fff;
}
