#loader
{
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: rgba(0,0,0,1);
  z-index: 100;
}

#loader.loaded
{
  background-color: rgba(0,0,0,0);
  transition: background-color 2s;
}

#loader .loading-text
{
  color: #fff;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 300;
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: default;
  letter-spacing: 20px;
  transition: letter-spacing 10s;
  opacity: 1;
  text-align: center;
  line-height: 80px;
}

#loader.loading .loading-text
{
  letter-spacing: 60px;
  transition: letter-spacing 10s;
}

#loader.loaded .loading-text
{
  letter-spacing: 200px;
  opacity: 0;
  transition: letter-spacing 1s, opacity 1s;
}
